* , body , main{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

button:focus{
    box-shadow: none !important;
}

.logo{
    width: 100px;
    height: 30px;
    background-color: #0D28A6;
}

#navbar{
    background: #F1F3FF;
    padding: 10px 136px;  
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}


.navbar-nav  li a{
    color:black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;

}

.navbar-nav li a:hover{
    text-decoration: none;
}

.navbar-nav li button ,#navbarControls ul li button{
    padding: 8px 12px;
    background:  #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-width: 0px;
    border-radius: 2px;

}

/* hero section */

.hero-section{
    background: #F1F3FF;
}

.hero-section .text-content{
    padding: 120px 0px 87px 136px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-section .image-content{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.hero-section .image-content img{
    max-width: 100%;
    height: auto;
}

.hero-section .text-content h1{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px
}

.hero-section .text-content blockquote{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.hero-section .text-content button{
    padding: 8px 12px;
    background:  #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-width: 0px;
    border-radius: 2px;
}

.hero-section .image-content {
    padding: 0;
}

.hero-section .image-content .background-img{
    background: #0D28A6;
    border-radius: 60px 0px 0px 0px;
    width: 704px;
    height: 243px;
    align-self:flex-end;
    position: relative;
}

.hero-section .image-content .car-image{
    width: 704px;
    height: 407px;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

/* car finded container */


.car-finded-container{
    padding: 24px;
    border-radius: 8px;
    background:#FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 16px;
    margin: 0px 197px;
    position: relative;
    bottom:40px;
}

.car-finded-container .wrapper-button{
    align-self: flex-end;
}

select:active {
    border-radius: 0; 
    background-color: #0D28A6;
}

.car-finded-container .wrapper-form-item .wrapper-item .form-input{
    border-radius: 2px;
    border: 2px solid  #D0D0D0;
    background: #FFF;
    font-size: 12px;
    padding: 9px 12px;
    position: relative;   
    color:  #8A8A8A;
}

.car-finded-container .wrapper-form-item .wrapper-item label{
    font-family: 'Rubik', sans-serif !important;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.car-finded-container .wrapper-form-item .wrapper-item .form-input:focus{
    border: 2px solid #5CB85F !important;
    outline: 0;
    box-shadow: none;
    color: black;
}

.car-finded-container .form-child option:hover{
    background-color:#5CB85F !important;
}

.car-finded-container .wrapper-form-item .wrapper-item .form-input::placeholder{
    color:  #8A8A8A;
    font-size: 12px;
}

.car-finded-container .wrapper-form-item .wrapper-item{
    position: relative;
}

.car-finded-container .wrapper-form-item .wrapper-item img{
    width: auto;
    height: 18px;
}

.car-finded-container #pickDriver + #chevronIcon,
.car-finded-container #pickTime + #clockIcon,
.car-finded-container .form-input + #calendarIcon,
.car-finded-container .form-input + #personGroupIcon{
    float: right;
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    padding-right: 5px;
    bottom: 9.5px;
    right: 20px;
}

.car-finded-container button{
    padding: 9px 12px;
    background:  #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-width: 0px;
    border-radius: 2px;
}

.wrapper-form-item{
    display: flex;
    align-items: flex-end;
}

#chevronIcon,
#clockIcon,
#calendarIcon,
#personGroupIcon{
    font-size: 18px;
    color: #8A8A8A;
}

/* custom select tag */

.custom-select select {
    display: none;
}

.custom-select .select-styled {
    border-radius: 2px;
    border: 2px solid  #D0D0D0;
    background: #FFF;
    font-size: 12px;
    padding: 9px 12px;
    position: relative;   
    color:  #8A8A8A;
    cursor: pointer;
}


.custom-select .select-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 9px 12px;
    
}

.custom-select .select-options li {
    padding: 9px 12px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.custom-select .select-options li:hover {
    background-color: #5CB85F;
    color: white;
}


/* car card  */


.car-list{
    margin: 0px 197px;  
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    justify-content: flex-start;
}

.car-card{
    grid-auto-rows: 1fr;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
}



.car-card img{
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 16px;

}

.car-card .car-card-text h5{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}

.car-card .car-card-text h2{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.car-card .car-card-text blockquote{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.car-card .car-list-detail{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.car-card .car-list-detail li{
    display: flex;
    justify-content: flex-start;
    gap:8px ;
}

.car-card .car-list-detail li img{
    width: 20px;
    height: 20px;
}

.car-card .car-list-detail li p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.car-card button{
    padding: 8px 12px;
    background:  #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-width: 0px;
    border-radius: 2px;
    width: 100%;
  
}

/* footer */

footer{
    padding: 150px 136px 100px 136px;
}

.footer-wrapper{
    display: flex;
    gap: 86px;
}

.footer-wrapper .address,
.footer-wrapper .navigation ul,
.footer-wrapper .sosmed,
.footer-wrapper .copyright{
    display: flex ;
    flex-direction: column;
    gap: 16px;
    
}
.footer-wrapper .address h4,
.footer-wrapper .sosmed h4,
.footer-wrapper .copyright h4{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
}

.footer-wrapper .navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-wrapper .navigation ul li{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-wrapper .sosmed ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.footer-wrapper .sosmed ul li img{
    width: 32px;
    height: 32px;
}


@media only screen and  (max-width: 1200px)  {
    #navbar,
    .hero-section .text-content,
    footer{
        padding-right:16px;
        padding-left: 16px;
    }

    .car-finded-container,
    .car-list{
        margin: 0px 20px;
    }

}


@media only screen and (max-width: 992px) { 
        
    #navbar{
        padding: 10px 16px;
    }

    #navbarControls{
        width: 180px;
    }

    #navbarControls .offcanvas-header{
        display: flex;
        align-items: center;
        padding: 0px;
        padding-right: 16px;
    }

    #navbarControls .offcanvas-header h5{
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin: 16px;
    }

    #navbarControls .offcanvas-header #closeButton{
        color: #000;
        font-size: 24px;
    }

    #navbarControls .offcanvas-body ul{    
        margin: 0px;
        padding: 0px;
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #navbarControls .offcanvas-body li a{
        padding: 0;
        color:black;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
    }

    #navbar .navbar-toggler,
    #navbar .navbar-toggler:focus,
    #navbar .navbar-toggler:active,
    #navbar .navbar-toggler-icon:focus {
        border: 0px;
        outline: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;   
    }

    #navbar .navbar-toggler i{
        color: #000;
    }

    .car-list{
        grid-template-columns: auto auto;
    }

}

@media only screen and (max-width: 576px) { 

    .hero-section .text-content,
    footer{
        padding: 0px 16px;
    }

    footer{
        padding-top: 60px;
    }

    /* hero section */

    .hero-section .text-content{
        padding-top: 32px;
    }

    .hero-section .wrapper{
        gap: 104px;
    }

    .hero-section .image-content .car-image{
        width: 85%;
        height: auto;
        bottom: 5%;
    }
    
    .hero-section .image-content  .background-img{
        width: 100%;
        height: 118.813px;
    }

    .hero-section .image-content{
        padding-left: 16px;
    }

    /* footer */

    footer{
        padding-bottom: 60px;
    }

    .footer-wrapper{ 
        gap: 16px;
    }

    .car-list{
        grid-template-columns: auto ;
    }

}




